registry=https://registry.npmmirror.com
ELECTRON_MIRROR=https://registry.npmmirror.com/-/binary/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=https://registry.npmmirror.com/-/binary/electron-builder-binaries/
CYPRESS_INSTALL_BINARY=https://registry.npmmirror.com/-/binary/cypress/13.3.3/win32-x64/cypress.zip
strict-ssl=false
